<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask-SocketIO Example</title>
    <script src="/static/socket_io.js"></script>    
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="landing">
        <h1>OTI</h1>
        <img src="/static/qr.png">
        <input type="text" id="username" placeholder="Username">
        <button id="join-btn">JOIN</button>
    </div>
    <div id="jogo" style="display:none;">

        <input type="color" id="cor">

        <div id="carta" class="caixa-carta">
            <div id="flip-card" class="carta-conteudo">
                <div id="frente" class="carta-conteudo-frente">
                    <span id="cartaFace">OTI</span>
                </div>
                <div id="verso" class="carta-conteudo-verso">
                    <span id="numeroCarta">0</span>
                </div>
            </div>
        </div>
        <!-- <input type="text" id="message" placeholder="Enter a Message"> -->
        <button id="sortear">Sortear</button>
    </div>
    <script src="/static/oti_scripts.js"></script>
</body>
</html>